body {
  text-align: center;
  font-size: 20px;
  background-color: #6f6f6f;
  font-family: arial;
}

.game {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  height: 760px;
  width: 550px;
  background-color: #404040;
}

#scores {
  display: flex;
  font-weight: bold;
  width: 500px;
  height: 25px;
  padding: 5px;
  color: white;
  justify-content: space-between;
}

#game-score div {
  display: inline-block;
}

#canvas {
  background-color: white;
  position: absolute;
  top: 35px;
  z-index: 0;
}

#blocks {
  position: absolute;
  top: 35px;
  z-index: 1;
}
