body {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  background-color: #6f6f6f;
  color: white;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  background-color: #0000FF;
  border: none;
  width: 230px;
  height: 40px;
  margin: 10px auto;
  font-size: 22px;
  color: white;
  outline: none;
  border-radius: 10px;
}

.game {
  margin: 25px auto;
  position: relative;
  display: flex;
  justify-content: center;
  height: 740px;
  width: 500px;
  background-color: black;
}

.title {
  height: 65px;
  line-height: 65px;
  font-size: 55px;
  font-weight: 800;
  background-image: linear-gradient(to right, #EE0000, #F600E9, #0000FF);
  color: transparent;
  -webkit-background-clip: text;
}

#scores {
  display: flex;
  position: absolute;
  top: 55px;
  line-height: 35px;
  width: 438px;
  height: 35px;
  justify-content: space-between;
}

#game-score div {
  display: inline-block;
}

#canvas {
  background-color: white;
  position: absolute;
  bottom: 43px;
  z-index: 0;
}

#blocks {
  position: absolute;
  bottom: 43px;
  z-index: 1;
}

/*Style for blocks when game over*/
.game-is-over {
  opacity: 0.5;
}

#info-bar {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 438px;
  padding: 10px;
  justify-content: space-between;
}

/*All Modals*/
.modal {
  display: none;
  position: absolute;
  align-self: center;
  z-index: 3;
  border: 5px solid black;
}

.display-modal {
  display: block;
}

#close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

/*Settings Modal*/
.settings {
  width: 300px;
  padding: 10px;
  background-color: #FF00B8;
}

.ball-color-picker {
  width: 200px;
  margin: 10px auto;
  text-align: center;
}

.ball-color-picker input {
  display: block;
  margin: 10px auto;
  width: 70px;
  height: 30px;
}

/*Game Over Modal*/
.game-over {
  z-index: 2;
  padding: 20px;
  background-color: #0000FF;
}

.game-over button.newgame-btn {
  background-color: #FF00B8;
}

.game-results {
  font-size: 55px;
  padding: 0 0 10px 0;
}

.results {
  font-size: 34px;
}
